body {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #f5f5f5;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}


.container {
  width: 950px;
  margin: 0 auto;
  padding: 0 15px;

  &::before,
  &::after {
    content: "";
    display: flex;
  }
}

.silderbar {
  background-image: url(../image/bgs1.jpg);
  max-width: 1920px;

  .container {
    position: relative;
    height: 285px;
    overflow: hidden;

    .left {
      display: inline-block;
      width: 53.333%;
      position: absolute;
      top: 5%;

      p {
        i {
          padding: 0 5px;
          color: #002569;
          font-size: 13px;
        }

        a {
          font-size: 13px;
          color: #888888;
        }

        samp {
          font-size: 13px;
          color: #002569;
        }
      }

      .text1 {
        display: block;
        font-size: 40px;
        color: #002983;
        margin: 23px 0 0px 0;

        span {
          font-size: 40px;
          color: #0039f8;
        }
      }
      .text2{
        font-size: 70px;
        color: #00256d;
        .sp1{
          color: #002acf;
        }
        .sp2{
          color: #6d679c;
        }
        .sp3{
          color: #e6951a;
        }
      }

    }

    .center {
      display: inline-block;
      width: 33.333%;
      position: absolute;
      top: 5%;
      left: 40%;
    }

    .right {
      display: inline-block;
      width: 33.333%;
      position: absolute;
      top: 0%;
      right: -4%;
    }
  }

}

.HVtable {
  margin-bottom: 99px;

  .WaperTable {
    display: flex;
    width: 950px;
    margin: 0 auto;
    // padding: 0 15px;
    background-color: #ffffff;
    border-top: 2px solid #c3c3c3;

    .row {
      display: flex;
      width: 950px;
      margin: 0 auto;
      border-bottom: 1px solid #dedede;

      .left {
        display: inline-block;
        width: 17%;
        padding: 0 15px;

        p {
          margin: 18px 0;
          border-right: 1px solid #dedede;
          text-align: center;
          font-size: 14px;
          color: #333333;
        }
      }

      .right {
        display: inline-block;
        width: 83%;
        padding: 0 15px;

        p {
          margin: 18px 0;
          font-size: 14px;
          color: #666666;
        }
      }
    }

    .table {
      p {
        font-size: 14px;
        padding: 18px 0;
        border-bottom: 1px solid #dedede;

        samp {
          padding: 0 42px;
          border-right: 1px solid #dedede;
        }
      }
    }

  }

  .WaperTable2 {
    display: flex;
    width: 950px;
    margin: 0 auto;
    // padding: 0 15px;
    background-color: #ffffff;
    border-top: 1px solid #c3c3c3;

    .row {
      display: flex;
      width: 950px;
      margin: 0 auto;
      border-bottom: 1px solid #dedede;

      .left {
        display: inline-block;
        width: 17%;
        padding: 0 15px;

        p {
          margin: 18px 0;
          border-right: 1px solid #dedede;
          text-align: center;
          font-size: 14px;
          color: #333333;
        }
      }

      .right {
        display: inline-block;
        width: 83%;
        padding: 0 15px;

        p {
          margin: 18px 0;
          font-size: 14px;
          color: #666666;
        }
      }
    }

    .table {
      p {
        font-size: 14px;
        padding: 18px 0;
        border-bottom: 1px solid #dedede;

        samp {
          padding: 0 42px;
          border-right: 1px solid #dedede;
        }
      }
    }

  }
}



footer {
  background-color: #002569;

  .container {
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding: 42px 15px 100px 15px;

    .left {
      display: inline-block;
      width: 45%;
      padding: 0 15px;

      p {
        color: #fff;
        margin: 0;
      }

      .text1 {
        font-size: 18px;
        color: #cdd4e1;
        font-weight: bold;
        padding: 0 0 10px 0;

        .text3 {
          font-size: 14px;
          color: #ccd4e1;
        }
      }

      .text2 {
        text-transform: uppercase;
        font-size: 11px;
        color: #7c86a1;
        margin: 0 0 5px 0;
      }
    }

    .right {
      display: inline-block;
      width: 55%;
      padding: 0 15px;
    }

  }
}